.dashboard{

    width:700px;

    margin:50px auto;

    text-align:center;

}

.menu{

    margin-top:40px;

    display:flex;

    flex-direction:column;

    gap:20px;

}

.menu button{

    padding:15px;

    font-size:18px;

    cursor:pointer;

}